os: linux
dist: xenial
sudo: required
addons:
    apt:
        packages:
            - libboost-all-dev
            - liblapack-dev
script:
    - cd simulation_lib
    - mkdir build
    - cd build
    - cmake ..
    - make
    - test/node_test
    - test/link_test
    - test/network_test
    - sudo make install
    - cd ../../simulation_user
    - mkdir build
    - cd build
    - cmake ..
    - make
    - ./linear_network_simulation
