# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:

trigger:
- master

pool:
  vmImage: 'windows-2019'

steps:
- task: CacheBeta@0
  inputs:
    key: |
        vcpkg
        $(Agent.OS)
        install
    path: 'C:/vcpkg/installed/x64-windows'
  displayName: Cache vcpkg installed package
  
- script: IF NOT EXIST "C:\vcpkg\installed\x64-windows\include\boost\version.hpp" vcpkg install boost-serialization:x64-windows clapack:x64-windows
  displayName: 'install deps'
  
- script: |
    cd simulation_lib
    mkdir build
    cd build
    cmake -DCMAKE_TOOLCHAIN_FILE=%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake ..
    cmake --build . --config Release
    cd test
    ctest    
  displayName: 'build and test'

- script: |
    cd ..
    cmake --build . --config Release --target install
    cd ..\..\simulation_user
    mkdir build
    cd build
    cmake -DCMAKE_TOOLCHAIN_FILE=%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake ..
    cmake --build . --config Release
    Release\linear_network_simulation.exe
  displayName: 'install and build, test user program'